<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_muenster.shelpapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="de.shelp.android.applications.ShelpApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="de.shelp.android.MainActivity"
            android:icon="@mipmap/logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.shelp.android.PrefsActivity"
            android:label="@string/title_activity_prefs" >
        </activity>
        <activity
            android:name="de.shelp.android.ShelpActivity"
            android:label="@string/title_activity_shelp_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.CreateTourActivity"
            android:label="@string/title_activity_create_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.SearchTourActivity"
            android:label="@string/title_activity_search_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.WishlistActivity"
            android:label="@string/title_activity_whishlist_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.ShowOwnTourActivity"
            android:label="@string/title_activity_tour_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.FriendsActivity"
            android:label="@string/title_activity_friends_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.RatingActivity"
            android:label="@string/title_activity_rating_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.ShowRatingActivity"
            android:label="@string/title_activity_show_rating_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.SearchFriendActivity"
            android:label="@string/title_activity_search_friends_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.ShowOwnRequestActivity"
            android:label="@string/title_activity_own_request_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.RegActivity"
            android:label="@string/title_activity_registration_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.ShowTourActivity"
            android:label="@string/title_activity_show_tour_activity" >
        </activity>
        <activity
            android:name="de.shelp.android.ShowTourRequestActivity"
            android:label="@string/title_activity_show_tour_request" >
        </activity>

    </application>

</manifest>
