<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_muenster.shelpapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ShelpAppAndroid.ShelpAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ShelpAppAndroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShelpAppAndroid.PrefsActivity"
            android:label="@string/title_activity_prefs" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.shelp_activity"
            android:label="@string/title_activity_shelp_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.create_activity"
            android:label="@string/title_activity_create_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.search_activity"
            android:label="@string/title_activity_search_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.whishlist_activity"
            android:label="@string/title_activity_whishlist_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.tour_activity"
            android:label="@string/title_activity_tour_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.friends_activity"
            android:label="@string/title_activity_friends_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.rating_activity"
            android:label="@string/title_activity_rating_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.show_rating_activity"
            android:label="@string/title_activity_show_rating_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.search_friends_activity"
            android:label="@string/title_activity_search_friends_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.ShelpAppApplication"
            android:label="@string/title_activity_shelp_app_application" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.own_request_activity"
            android:label="@string/title_activity_own_request_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.your_request_activity"
            android:label="@string/title_activity_your_request_activity" >
        </activity>
        <activity
            android:name=".ShelpAppAndroid.registration_activity"
            android:label="@string/title_activity_registration_activity" >
        </activity>
    </application>

</manifest>
